/* Styling untuk tabel */
.table-container {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .simple-table {
    border: 1px solid #ddd;
    width: 100%;
  }
  
  .simple-table th, .simple-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .simple-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
  }
  
  .simple-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .simple-table tbody tr:hover {
    background-color: #f2f2f2;
  }
  